/*General body style*/
body{
  margin: 0;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

/*container style*/
.container{
  width: 500px;
  height: 350px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
  padding-bottom: 20px;
}

/*title style*/
h1{
  color: green;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

/*review btn style*/
#reviewBtn{
  font-size: 18px;
  background-color: rgb(5, 186, 186);
  border-style: none;
  color: white;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

#reviewBtn:hover{
  background-color: aquamarine;
}

/*image style section*/
img{
  width: 50px;
  height: 50px;  
}

/*Feedback container style*/
.container-feedback{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/*Feedback btns section style*/
.reviewBtns{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: green;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.reviewBtns:hover{
  background-color: rgb(109, 234, 109);
  height: 80px;
  width: 100px;
  border-radius: 10px;
  align-self: center;
  color: white;
}

/*Feedback section style*/
.feedback-container{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 200px;
  align-items: center;
  align-content: center;
  box-shadow: 4px 0px 10px rgb(21, 17, 17);
  margin: 60px;
  border-radius: 10px;
  gap: 0px;
  color: green;
}
